.polyselect {
  display: block;
  width: 250px;
  position: relative;
  margin-bottom: 2em;
  border-radius: 8px;
  background: linear-gradient(-180deg, #FFFFFF 0%, #F2F2F2 100%);
  border: 1px solid #9C9C9C;
  font-family: Helvetica-Light;
  font-size: 1em;
  color: #919191;
}

.polyselect-select {
  padding: 6px 8px 4px 8px;
  display: block;
}

.polyselect-select:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  right: 10px;
  top: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #919191;
}

.polyselect-active .polyselect-select:after {
  border-top: 0;
  border-bottom: 5px solid #919191;
}

.polyselect-dropdown {
  padding: 0 8px 6px 8px;
}

.polyselect-active {
  background: #FFFFFF;
}

.polyselect-inactive .polyselect-dropdown {
  display: none;
}

.polyselect-active {
  border-radius: 8px 8px 0 0;
}

.polyselect-active .polyselect-dropdown {
  position: absolute;
  width: calc(100% + 2px);
  margin-left: -1px;
  top: 100%;
  box-sizing: border-box;
  background: white;
  border-left: 1px solid #9C9C9C;
  border-right: 1px solid #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
  box-shadow: 0px 12px 19px 0px rgba(0,0,0,0.35);
  border-radius: 0 0 8px 8px;
}

.polyselect input[type="text"] {
  width: 100%;
  border: 1px solid #9C9C9C;
  padding: 4px;
  margin-bottom: 4px;
}

.polyselect input[type="checkbox"] {
  margin-left: 0;
}

.polyselect-option {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.polyselect-option-active {
  background: linear-gradient(-180deg, #3775D7 0%, #2A61BC 100%);
  margin: 0 -9px;
  padding-left: 9px;
  padding-right: 9px;
  color: #FFFFFF;
}
